* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb("")
}
@font-face {
    font-family: josefin;
    src: url("../fonts/josefin_sans.ttf");
}
@font-face {
    font-family: concert;
    src: url("../fonts/concert_one.ttf");
}
#navibar {
    font-family: josefin;
    font-size: 36px;
    height: 10vh;
    background-color:#2ea669
}
#mainbody {
    font-family: josefin;
    font-size: 30px;
    height:80vh;
    background-color: #e8bd67;
}
#footer {
    font-family: concert;
    color: white;
    font-size: 30px;
    background-color: black;
    height: 10vh;

}
