* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb("")
}
@font-face {
    font-family: josefin;
    src: url("../fonts/josefin_sans.ttf");
}
@font-face {
    font-family: concert;
    src: url("../fonts/concert_one.ttf");
}
header {
    align-content: center;
}
#navibar {
    font-family: josefin;
    color: white;
    background-color:#2ea669;
    font-size: 36px;
    height: 10vh;
    display:flex;
    /* display makes the buttons centered, but not the home button. Buttons aslo clickable in empty space */
}
ul li {
    display:inline-block;
    width: 32%;
}
ul li a {
    padding: 2in;
}
span {
    margin: auto;
    /* margin keeps the home button in the middle */
}
#mainbody {
    padding: 200px;
    font-family: josefin;
    font-size: 30px;
    height:80vh;
    background-color: #e8bd67;
}
#box1{
    width: 30em;
    height: 45vh;
    border: 0.5rem black solid;
    background-color: white;
    border-radius: 2em;
}
h1 {
    color:#2ea669;
}
#footer {
    font-family: concert;
    color: white;
    font-size: 30px;
    background-color: black;
    height: 10vh;

}
